/* -------------------------------------------
  Utilities 
--------------------------------------------*/
.inline__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__btn > * {
  width: 34px;
  height: 34px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 20;
}

/* -------------------------------------------
  Mobile 
--------------------------------------------*/
.navbarMobile {
  position: fixed;
  top: 16px;

  width: 100%;
  padding: 2px 24px;

  @apply backdrop-blur-[2px];
  z-index: 20;
}

.navbarMobile__logo {
  z-index: 10;
}

.navlistMobile {
  position: fixed;
  top: -16px;
  right: 0;
  padding-top: 16px;

  min-height: 100dvh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  color: theme("colors.neutralLightest");
  @apply bg-neutralDarkest/[99%] backdrop-blur;
  font-family: theme("fontFamily.header");
  font-size: theme("fontSize.lg");

  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navlistMobile__isOpen {
  transform: translateX(0%);
}

.navbarMobile__navitem {
  min-width: 144px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbarMobile__navitem span {
  flex-grow: 1;
}

.navbarMobile__navitem svg > path:first-child {
  fill: none;
}

.navitem__logout {
  padding: 8px 16px;

  border-radius: 100px;
  border: 1px solid theme("colors.neutralLightest");

  color: theme("colors.neutralLightest");
  font-family: theme("fontFamily.header");
  font-size: theme("fontSize.lg");
}

.isActive svg > :nth-child(2) {
  fill: theme("colors.primaryLightest");
}

.isActive span {
  color: theme("colors.primaryLightest");
  text-decoration: underline 1px;
  text-underline-offset: 8px;
}

/* -------------------------------------------
  Desktop 
--------------------------------------------*/
.navbarDesktop {
  height: 80px;
  padding: 16px 48px;

  background-color: theme("colors.neutralDarkest");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navlistDesktop {
  display: flex;
  align-items: center;
  gap: 32px;

  color: theme("colors.neutralLightest");
  @apply bg-neutralDarkest/80;
  font-family: theme("fontFamily.header");
  font-size: theme("fontSize.lg");
  font-weight: theme("fontWeight.extrabold");
}

.navbarDesktop__navitem:hover {
  color: theme("colors.primaryLightest");
}

.navbarDesktop__navitem svg {
  display: none;
}

.navbarDesktop__navitem .showIcon svg {
  display: block;
}

.navbarDesktop__navitem .showIcon svg > path:first-child {
  fill: none;
}

.navbarDesktop__navitem .showIcon span {
  display: none;
}

.userAccount {
  order: 10;
}
