/* all pages */
.slider {
  padding: 16px 0px;
  display: flex;
  overflow-x: scroll;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.slider::-webkit-scrollbar {
  display: none;
}

.card__game {
  position: relative;

  width: 144px;
  height: 240px;
  display: flex;
  align-items: flex-end;

  @apply drop-shadow-[0px_5px_10px_rgba(0,0,0,0.3)];
  border-radius: 8px;

  cursor: pointer;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.2s ease-in-out;

  @media screen and (min-width: 768px) {
    width: 184px;
    height: 280px;
  }
}
.card__game:hover {
  border: 3px solid theme("colors.primaryLightest");
  transform: scale(1.05);
  @apply drop-shadow-[0px_10px_15px_rgba(0,0,0,0.3)];
}

.card__game h2 {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 4px 16px;

  @apply bg-neutralDarkest/50 backdrop-blur-sm;
  color: theme("colors.neutralLightest");
  font-family: theme("fontFamily.header");
  font-size: theme("fontSize.sm");
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;

  transform: translateY(88%);
  transition: all 0.3s ease;

  @media screen and (min-width: 768px) {
    font-size: theme("fontSize.base");
  }
}

.card__game:hover h2 {
  transform: translate(0%);
}

.slider__about {
  @media screen and (min-width: 1000px) {
    overflow-x: inherit;
    justify-content: space-around;
  }
}

/* page About */
.card__about {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: theme("colors.neutralDarkest");
  border-radius: 8px;
  @apply drop-shadow-[0px_5px_10px_rgba(0,0,0,0.3)];
  cursor: default;
  overflow: hidden;
}

.card__about p,
.card__about span {
  color: theme("colors.neutralLightest");
}

.card__about img {
  @media screen and (min-width: 768px) {
    height: 56px;
    width: auto;
  }
}

.card__figure {
  width: 136px;
  height: 184px;

  @media screen and (min-width: 768px) {
    width: 176px;
    height: 216px;
    gap: 30px;
  }
}

.card__figure span {
  font-weight: 900;
  font-family: theme("fontFamily.header");
  font-size: theme("fontSize.lg");
  @media screen and (min-width: 768px) {
    font-size: theme("fontSize.xl");
  }
}

.card__info {
  width: 192px;
  height: 104px;

  @media screen and (min-width: 768px) {
    width: 248px;
    height: 176px;
    gap: 30px;
  }
}

.card__partners {
  display: flex;
  justify-content: center;
  width: 192px;
  height: 35px;

  @media screen and (min-width: 768px) {
    height: 50px;
  }
}
