.card__game {
  position: relative;

  width: 144px;
  height: 240px;
  display: flex;
  align-items: flex-end;

  @apply drop-shadow-[0px_5px_10px_rgba(0,0,0,0.3)];
  border-radius: 8px;

  cursor: pointer;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.2s ease-in-out;

  @media screen and (min-width: 768px) {
    width: 184px;
    height: 280px;
  }
}
.card__game:hover {
  border: 3px solid theme("colors.primaryLightest");
  transform: scale(1.05);
  @apply drop-shadow-[0px_10px_15px_rgba(0,0,0,0.3)];
}

.card__game h2 {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 4px 16px;

  @apply bg-neutralDarkest/50 backdrop-blur-sm;
  color: theme("colors.neutralLightest");
  font-family: theme("fontFamily.header");
  font-size: theme("fontSize.sm");
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;

  transform: translateY(88%);
  transition: all 0.3s ease;

  @media screen and (min-width: 768px) {
    font-size: theme("fontSize.base");
  }
}

.card__game:hover h2 {
  transform: translate(0%);
}
