:root {
  --switch-width: 48px;
  --switch-height: 24px;
  --slider-space: 1px;
  --icon-space: 2px;
  --slider-height: calc(var(--switch-height) - calc(2 * var(--slider-space)));
  --slider-width: var(--slider-height);
  --slider-course: calc(
    calc(var(--switch-width) - var(--slider-width)) - 2 * var(--slider-space)
  );
  --icon-height: calc(var(--slider-height) - 2 * var(--icon-space));
  --icon-width: var(--icon-height);
}

.toggle {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);

  cursor: pointer;
  background: theme("backgroundImage.gradientPrimary");
  box-shadow: theme("boxShadow.innerLight");
  border-radius: calc(var(--switch-height) / 2);
  transition: 0.3s;
}

.toggle input {
  -webkit-appearance: none;
  appearance: none;
}

.toggle:after {
  position: absolute;
  content: "";
  top: var(--slider-space);
  left: var(--slider-space);
  height: var(--slider-height);
  width: var(--slider-width);
  border-radius: calc(var(--slider-height) / 2);
  background: theme("colors.neutralLightest");
  transition: 0.3s;
}

.toggle:hover:after {
  width: 60%;
}

.toggle:has(input[type="checkbox"]:checked):after {
  left: calc(var(--switch-width) - var(--slider-space));
  transform: translateX(-100%);
  background: theme("backgroundImage.gradientPrimary");
  box-shadow: theme("boxShadow.innerLight");
  transition: 0.3s;
}

.toggle:has(input[type="checkbox"]:checked) {
  background: theme("colors.neutralLightest");
  box-shadow: theme("boxShadow.innerDark");
  transition: 0.3s;
}

.toggle__icon {
  position: absolute;
  top: calc(var(--slider-space) + var(--icon-space));
  cursor: pointer;
  z-index: 10;
}

.toggle__icon svg {
  width: var(--icon-width);
  height: var(--icon-height);
}

.toggle__icon_light {
  left: calc(var(--slider-space) + var(--icon-space));
  opacity: 1;
  transition: 0.3s;
}

.toggle__icon_dark {
  right: calc(var(--slider-space) + var(--icon-space));
  opacity: 0;
  transition: 0.3s;
}

.toggle__icon_light svg path {
  stroke: theme("colors.neutralDark");
}

.toggle__icon_dark svg path {
  stroke: theme("colors.neutralLightest");
}

.toggle:has(input[type="checkbox"]:checked) .toggle__icon_light {
  opacity: 0;
  transition: 0.3s;
}

.toggle:has(input[type="checkbox"]:checked) .toggle__icon_dark {
  opacity: 1;
  transition: 0.3s;
}
