.videoGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  justify-items: center;
}

.miniatureMobile {
  width: 144px;
  height: 240px;

  @media screen and (min-width: 768px) {
    width: 184px;
    height: 280px;
  }
}
